doctype html
html.no-js(lang='zh-CN')
  head
    meta(charset='UTF-8')
    meta(property='og:image' content='https://qiniu.xvc.com/xvc-logo.png')
    title XVC
    meta(name='description' content='<p>XVC是一家风险投资机构，目前管理了约 6 亿美元（含人民币），单笔投资100万到3000万美元或等值人民币。我们希望以精简的机构、高效的决策流程来支持有领袖才能的创业者，共享我们的视野和行业资源，共同创造长期价值。</p>
')
  meta(name='keywords' content='胡博予,艾克思,投资,风险投资, 早期,风投, 风投机构,创投,创业投资,投资人,蓝湖资本')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
    //  Place favicon.ico in the root directory
    link(rel='shortcut icon' href='../favicon.ico' type='image/vnd.microsoft.icon')
    link(rel='stylesheet' href='https://www.xvc.com/wp-content/themes/XVC2016/assets/css/normalize.css')
    link(rel='stylesheet' href='https://www.xvc.com/wp-content/themes/XVC2016/assets/css/main.css')
    link(rel='stylesheet' href='https://www.xvc.com/wp-content/themes/XVC2016/assets/css/responsive.css?1')
    link(rel='stylesheet' href='/wp-content/uploads/custom-css-js/552.css?0')
    //
      [if lte IE 9]>
      <link rel="stylesheet" type="text/css" href="https://www.xvc.com/wp-content/themes/XVC2016/assets/css/ie9.css" />
      <![endif]
    //
      [if lte IE 8]>
      <script src="https://www.xvc.com/wp-content/themes/XVC2016/assets/js/min/html5-min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://www.xvc.com/wp-content/themes/XVC2016/assets/css/non-responsive.css" />
      <link rel="stylesheet" type="text/css" href="https://www.xvc.com/wp-content/themes/XVC2016/assets/css/ie8.css" />

  body
    #body_wrapper.loading.zh
      header
        a.logo(href='#body')
          img(src='https://www.xvc.com/wp-content/themes/XVC2016/assets/img/XVC_logo.svg' alt='XVC logo')
        ul.navigation
          li#nav_mission
            a(href='#mission') XVC的使命
          li#nav_investments
            a(href='#investments') 投资主题
          li#nav_team
            a(href='#team') 我们的团队
          li#nav_testimonials
            a(href='#testimonials') 投资案例
          li#nav_views
            a(href='#views') XVC观点和思考
          li#nav_fav
            a(target='_blank' href='https://blog.xvc.com') 收藏夹
          li#nav_contacts
            a(href='#contacts') 联系我们
      #menu_control.slim.open
        .open
          i.bar.top
          i.bar.mid
          i.bar.bottom
      #language_control
        a.en(href='https://www.xvc.com/en') English
        a.zh(href='https://www.xvc.com/zh') 简体中文
      #body
        //

          ######  ########    ###    ########  ########
          ##    ##    ##      ## ##   ##     ##    ##
          ##          ##     ##   ##  ##     ##    ##
            ######     ##    ##     ## ########     ##
              ##    ##    ######### ##   ##      ##
          ##    ##    ##    ##     ## ##    ##     ##
            ######     ##    ##     ## ##     ##    ##

        section#start.section
          .wrapper
            svg#logo_animation(width='245px' height='70px' viewBox='0 0 245 70' version='1.1' xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink' stroke='#FFFFFF' fill='#FFFFFF')
              g#xvc_logo
                polygon#c(points='190.666542 0.388841924 171.176431 33.8241604 177.776668 67.1105465 201.226921 67.1105465 229.258515 67.1105465 232.597459 50.9513837 195.325533 50.9513837 193.539587 33.8241604 203.401117 16.4735386 239.585945 16.4735386 242.691939 0.388841924')
                polygon#v(points='152.096535 0.79127438 127.170935 46.141183 119.56125 0.79127438 98.3628425 0.79127438 110.398569 67.512979 134.78062 67.512979 174.459691 0.79127438')
                polygon#x_3(points='63.3883951 0.79127438 53.2939152 11.5144055 63.4660449 30.0564863 91.03174 0.79127438')
                polygon#x_2(points='14.8088522 0.79127438 50.3051102 67.9186109 77.3272563 67.9186109 58.7689433 33.142901 41.1424284 1.19690627')
                polygon#x_1(points='26.5395629 40.0682565 0.5 67.7912744 27.9372601 67.9186109 37.9540901 57.1954798 28.480809 37.9832032')
            .content
              //  <img src="img/xvc_logo.svg" alt="XVC logo" />
              h1 我们是恰好选择了VC行业的创业者
          #bg
            div.


        //  hero ends
        //


          ##     ## ####  ######   ######  ####  #######  ##    ##
          ###   ###  ##  ##    ## ##    ##  ##  ##     ## ###   ##
          #### ####  ##  ##       ##        ##  ##     ## ####  ##
          ## ### ##  ##   ######   ######   ##  ##     ## ## ## ##
          ##     ##  ##        ##       ##  ##  ##     ## ##  ####
          ##     ##  ##  ##    ## ##    ##  ##  ##     ## ##   ###
          ##     ## ####  ######   ######  ####  #######  ##    ##


        section#mission.section.mission
          h2 XVC的使命
          .content
            p XVC是一家风险投资机构，目前管理了约 6 亿美元（含人民币），单笔投资100万到3000万美元或等值人民币。我们希望以精简的机构、高效的决策流程来支持有领袖才能的创业者，共享我们的视野和行业资源，共同创造长期价值。
            a.btn.solid(href='javascript:alert(\'请通过电子邮件将商业计划书发送至 vip[at]xvc.com.\');') 投递商业计划书
        //  mission ends
        //


          #### ##    ## ##     ## ########  ######  ########
            ##  ###   ## ##     ## ##       ##    ##    ##
           ##  ####  ## ##     ## ##       ##          ##
           ##  ## ## ## ##     ## ######    ######     ##
           ##  ##  ####  ##   ##  ##             ##    ##
           ##  ##   ###   ## ##   ##       ##    ##    ##
          #### ##    ##    ###    ########  ######     ##


        section#investments.section
          h2 投资主题
          .content
            .horizontal.line
            .cols.three
              .col.direction
                .vertical.line
                .id 1
                h3 具备网络效应和规模经济的新型网络和平台
                p 像微信、淘宝、快手、美菜网这样的“通道”，拥有网络效应或规模经济，规模越大体验越好，或者规模越大成本越低。
              .col.direction
                .vertical.line
                .id 2
                h3 能够生产数据并利用这些数据提高核心体验和性能的应用
                p 以 Google 为例，它的搜索体验依赖于海量用户每天通过输入关键字、点击来给它提供反馈进行训练，从而能够把壁垒越建越高。
              .col.direction
                .vertical.line
                .id 3
                h3 具有“自增强”属性的品牌
                p 像MIT、斯坦福大学这样的品牌，能够吸引最优秀的申请者和研究者，这些优秀的人才会增强大学的品牌。
            .summary 我们认为具有上述特征的商业模式在未来的结构性变化中能够创造长期的价值， 我们希望能找到那些具有远见和优秀领导才能的企业家，一同去驱动这些新变化的发生。
        //  investments ends
        //


          ######## ########    ###    ##     ##
            ##    ##         ## ##   ###   ###
              ##    ##        ##   ##  #### ####
             ##    ######   ##     ## ## ### ##
             ##    ##       ######### ##     ##
             ##    ##       ##     ## ##     ##
             ##    ######## ##     ## ##     ##


        section#team.section
          h2 我们的团队
          .content
            .member
              .photo.standard
                img(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/team_member1-1-e1552623294949.png' alt)
              .info
                h3
                  span.name 胡博予 Boyu
                  span.title 合伙人
                img.slim(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/boyu_sml.png' alt)
                .intro
                  .height_box
                    p 博予是个理想主义的创业者兼产品极客。他参与创办了中国最大的信贷管理软件公司安硕信息，领导了核心产品线的开发，帮助公司在竞争激烈的市场中取得接近垄断的地位并最终上市（深交所，股票代码300380）。
                    p 在创业十年后，博予成为了一名风险投资家。在创办XVC之前，他曾在DCM和蓝湖资本工作，期间他在早期发掘了一些明星企业，包括 51talk（纽交所上市：COE）、美菜网、快手（香港联交所上市：1024.HK）、优信拍（纳斯达克上市：UXIN）、豌豆荚（被阿里巴巴收购）等，这些公司平均估值超过100亿美元。
                    p 博予不但是一个极客，还是一个“宅男”。他在Kellogg商学院读 MBA 的时候，住在美丽的密歇根湖湖畔，但他大部分业余时间要么宅在宿舍里搞研究要么混进自己没有学分的课堂里旁听。作为一名风险投资家，他仍花大量时间宅在家里 –在移动设备上阅读，在网上购物，或是给他的两个孩子读书。如果不是因为羽毛球这项他热爱了 20 年的运动，他的额头上可能都已经长出蘑菇了。
                .read_more
                  a.btn.line(href) 更多......
                .links
                  |
他的知乎专栏：
  a(href='https://zhuanlan.zhihu.com/xvcfund') zhuanlan.zhihu.com/xvcfund
    .member
      .info
        h3
          span.name 陆宜 Leo
            span.title 合伙人
              img.slim(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/leo_sml.png' alt)
                .intro
                  .height_box
                    p 陆宜认为科技的介入可以让我们的世界变得更好——如果他不在做改变世界的事情，那么他就要寻找并帮助另外一群人去改变世界。
                    p 在加入XVC之前，陆宜曾在蓝湖资本工作并与博予一起深入研究了多个行业，投资并管理了数个优秀创业企业。在那之前，他在全球著名的贝恩咨询公司(Bain&Company)的上海办公室和悉尼办公室工作，包括全球TOP10私募基金的商业尽职调查，五百强企业的市场、运营和销售策略制定。
                    p 从11岁开始，互联网就成为了陆宜生命里最重要的角色。他在高中阶段拿了所有这个年龄段网页制作的奖项后，进入了复旦大学软件工程系，并带领复旦光华公司科技开发部为校内外客户提供网站制作服务并创造了几十万的收入。脱下西装，陆宜是一个标准的户外运动爱好者，他攀登了多座位于西藏的雪山，潜水踪迹遍布全球。在Kellogg商学院就读期间，他完成了人生第一个全程马拉松；接下来，迎接他的将是两个很大的挑战：达标波士顿马拉松（2015年的标准是3小时05分钟），并在八十岁以前跑完100个全马。
                .read_more
                  a.btn.line(href) 更多......
              .photo.standard
                img(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/team_member2.png' alt)
            .member
              .photo.standard
                img(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/800.png' alt)
              .info
                h3
                  span.name 姚睿 Rickey
                  span.title 合伙人
                img.slim(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/346aa.png' alt)
                .intro
                  .height_box
                    p 姚睿是一个希望能够活在未来的人。他对于世界总有一些看似不切实际的畅想，并期望把时间加速去达到他们。
                    p 在加入XVC之前，他曾在GGV纪源资本和The Carlyle Group凯雷投资集团工作。在2014年姚睿选择从PE去VC，因为希望跟最有创新能量，最接地气的那一批创业者一起成长，并成为长期的兄弟和伙伴。在GGV他关注新人群，新交互和新消费，推动或参与了多个投资，包括最右，Hellobike，糖豆广场舞，Musical.ly，作业帮，触手TV，快点阅读，魔盒Citybox，Philm黑咔等。
                    p 他毕业于复旦大学，在校时，他是摄影协会会长，证券投资协会早期成员，并联合创立复旦管理咨询协会，这些“瞎折腾”的经历，给予了他非常强的落地能力：投资不仅是判断，而是从招人到数据分析，帮助被投企业去成长，做到“帮忙不添乱”。
                    p 业余时间，姚睿喜欢看书，但买书的速度总是比看书快。喜欢射箭，经常下一支箭打在上一支上。喜欢逛商场，借口总是理解新的消费趋势。但最常做的，大概是睡觉前把B站和最右刷一遍。
                .read_more
                  a.btn.line(href) 更多......
            .member
              .info
                h3
                  span.name 杨潇 Neo
                  span.title 运营合伙人
                img.slim(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/Neo小尺寸_副本.png' alt)
                .intro
                  .height_box
                    p 杨潇是一个“非典型财务”。他信奉理性、逻辑和数字的同时，又是推崇斯多葛主义的悲观的乐观主义者。
                    p 毕业于人大会计专业后，杨潇曾在安永会计师事务所审计互联网企业。正是这段与产品经理和IT工程师工作的经历让他笃定选择与专注、有趣的人一起解决复杂的难题。他还在极客帮创投工作2年时间，负责基金的运营。
                    p 负责基金风险控制的他，竟然最热爱看起来很危险的摩托车，他经常为骑士辩护，也精确计算和对冲自己承担的风险。但大多数时间，他是典型的宅男，喜欢B站，最经常做的事情是吹爆巨人或者把 “Rick and Morty”再刷一遍。
                .read_more
                  a.btn.line(href) 更多......
              .photo.standard
                img(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/neo-01.png' alt)
        //  team ends
        //


          ######## ########  ######  ######## ####
            ##    ##       ##    ##    ##     ##
              ##    ##       ##          ##     ##
             ##    ######    ######     ##     ##
             ##    ##             ##    ##     ##
             ##    ##       ##    ##    ##     ##
             ##    ########  ######     ##    ####


        section#testimonials.section
          h2 投资案例
          .content
            #testimonial_slider
              .flex-controls.slim
              ul.slides.cols.three
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/核桃编程-removebg-preview.png' alt)
                    .message
                      span “XVC是我的首轮投资方。当很多人对少儿编程赛道和我们AI课程教学的模式存在顾虑时，XVC坚定的选择了支持我们。在之后的合作中XVC也在行业研判和商业视野上给了我们非常多的支持，是我们坚实的支撑。”
                      span.name 核桃编程 曾鹏轩
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/weee-removebg-preview.png' alt)
                    .message
                      span “XVC对行业格局的理解和对商业本质的认知是极其深厚的。团队积极务实，细致认真。另外，他们对企业的运作与管理有非常成熟与系统的认识，给我提供了非常多的帮助。我会向所有有志于做一番事业的创业者推荐XVC。”
                      span.name Weee! Larry
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/时宜.png' alt)
                    .message
                      span “XVC团队以犀利的行业洞察、丰富的管理经验和独到的战略眼光，为时宜成长提供了帮助。在我们遇到意想不到的困难时，XVC团队也通过关系网帮我们解决过问题。遇上XVC这样‘总帮忙，不添乱’的基金，是时宜的幸运。期待未来一起创造更多价值。”
                      span.name 时宜 潘浩
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/moody-logo-png格式.png' alt)
                    .message
                      span “XVC投资团队是我接触过底层商业逻辑迭代最快的团队之一，每2个月我都会和团队交流市场上先进的商业模式，从而保持自己在专注业务的同时迭代认知。同时，很感谢XVC一直站在创业者的角度思考和做投资决策。当初moody遇到现金流问题的时候，XVC毫不犹豫在第二天完成了向我们公司的借款，让我们有了喘息的机会，会一直铭记。”
                      span.name moody 慈然
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/ONES-标准标志.png' alt)
                    .message
                      span “XVC一方面非常年轻活力，另一方面非常严谨细心。既对已知领域有足够专业的自信，也对未知领域有强烈的探索好奇心。这些特点使得XVC能给到创业者真正所需要的支持。在整个合作过程中，我当XVC的伙伴是公司合伙人。相信XVC会和被投企业一起，成为行业的变革者，社会进步的推动者，也定会给所有合作者带来超预期的回报。”
                      span.name ONES 王颖奇
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/肆拾玖坊-removebg-preview.png' alt)
                    .message
                      span “每次跟XVC的伙伴交流，都是个愉快而烧脑的过程！在新颖观点碰撞的同时，XVC团队能够不断的理性深挖，找到事实依据支撑和内在规律。在认知革命的创业时代，这无比的宝贵！而认知的梳理和提升，胜却多少其他类型的帮助，虽然在需要其他方面帮助时，XVC的兄弟们也从未缺席！”
                      span.name 肆拾玖坊 张传宗
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/伊对.png' alt)
                    .message
                      span “创业者需要好伙伴，理性，实际，能碰撞，敢挑战。很幸运，这些XVC都有。作为早期投资人，XVC和我们一起并肩战斗，讨论战略，讨论组织建设，说服关键团队成员加入，一起面对跌宕起伏的资本市场。从一个VC的身上我们看到了和我们一样的热情，坚韧不拔。睿智的选择后面，是扎扎实实贴地飞行的能力，谢谢XVC一路同行！”
                      span.name 伊对 任喆
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/利和味道.png' alt)
                    .message
                      span “XVC是极为专业的投资团队，他们拥有创业者的逻辑和视角，同时又具备投资人的敏锐和犀利，是很好对话者。XVC整体的风格十分鲜明：敏捷、务实且能够换位思考，把自己当成创业者的伙伴，而不仅仅是投资方。”
                      span.name 利和味道 王斌
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/霸王茶姬.png' alt)
                    .message
                      span “XVC是一个具有企业家精神的VC创业团队，初次见面就让我确信，他们就是我想找的合伙人型的股东。合作至今，XVC团队果然像合伙人一样，在我们最困难的时候，第一时间站出来给予最实际的帮助，在我们高速发展的时期，在战略、战术、人才、市场等方面提供了及时、实用的建议和落地支持。”
                      span.name 霸王茶姬 张俊杰
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/未标题-1-1.png' alt)
                    .message
                      span “XVC团队给予了光良非常独特的思考角度，是投资人里非常独特的存在。相比于‘投资人’或者‘股东’，我更愿意称他们是‘伙伴’，总是可以冷静的客观的帮助我和光良分析利弊及对未来做出预判，很庆幸，大部分时候，我们的预判都是对的。”
                      span.name 光良酒业 赵晓朴
                li.col
                  .company
                    img.logo(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/looknow-1.png' alt)
                    .message
                      span “非常庆幸能和XVC合作。XVC的伙伴们坚定、敏锐、有战略思维，又始终对创业者抱以同情的理解，是创业陌路上非常好的前行伙伴。”
                      span.name LOOKNOW 严明
            //  </div>
        //  testimonial ends
        //


          ##     ## #### ######## ##      ##  ######
          ##     ##  ##  ##       ##  ##  ## ##    ##
          ##     ##  ##  ##       ##  ##  ## ##
          ##     ##  ##  ######   ##  ##  ##  ######
            ##   ##   ##  ##       ##  ##  ##       ##
            ## ##    ##  ##       ##  ##  ## ##    ##
              ###    #### ########  ###  ###   ######


        section#views.section.views
          h2 XVC观点和思考
          .content
            ul
              li
                |
关于投资和思维习惯

  ul
    li
      a(href='https://zhuanlan.zhihu.com/p/30947971' target='_blank') VC和创业一样是个反人性的职业
        li
          a(href='https://zhuanlan.zhihu.com/p/22493637' target='_blank') 投资是寻找鲸鱼的游戏，经验是独立思考的敌人
            li
              a(href='https://zhuanlan.zhihu.com/p/20830227' target='_blank') 用VC的方法炒股票
                li
                  a(href='https://zhuanlan.zhihu.com/p/19912386' target='_blank') “一不小心盈利了”是个坏消息？
              li
                |
关于网络和平台

  ul
    li
      a(href='https://zhuanlan.zhihu.com/p/20061926' target='_blank') 复盘58和赶集之战，聊聊花钱和变现的节奏
        li
          a(href='https://zhuanlan.zhihu.com/p/19979505' target='_blank') 聊聊O2O和电商的补贴策略
            li
              a(href='https://zhuanlan.zhihu.com/p/19945037' target='_blank') 频次和密度：SNS战争的秘密
                li
                  a(href='https://zhuanlan.zhihu.com/p/20351127' target='_blank') B2B供应链：我眼中的“互联网+”
                  li
                    a(href='https://zhuanlan.zhihu.com/p/26869518' target='_blank') XVC内部座谈笔记 | 从滴滴到AirBnB，交易平台战争的秘密
              li
                |
关于数据和人工智能

  ul
    li
      a(href='https://zhuanlan.zhihu.com/p/23667555' target='_blank') 从进化论的角度思考人工智能
        li
          |
胡思乱想

  ul
    li
      a(href='https://zhuanlan.zhihu.com/p/19921533' target='_blank') 用产品经理的眼光看“宗教”
        li
          a(href='https://zhuanlan.zhihu.com/p/19920914' target='_blank') 从商学院招生看教育品牌建设
            li
              a(href='https://zhuanlan.zhihu.com/p/19929731' target='_blank') 2015年会发生什么事情？
                li
                  a(href='https://zhuanlan.zhihu.com/p/20550596' target='_blank') 年终总结 -- 打脸篇
                  li
                    a(href='https://zhuanlan.zhihu.com/p/20555478' target='_blank') 年终总结——展望篇
        //  blog ends
        //


          ######   #######  ##    ## ########    ###     ######  ########  ######
          ##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##    ##    ##
          ##       ##     ## ####  ##    ##     ##   ##  ##          ##    ##
          ##       ##     ## ## ## ##    ##    ##     ## ##          ##     ######
          ##       ##     ## ##  ####    ##    ######### ##          ##          ##
          ##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##    ##    ##
            ######   #######  ##    ##    ##    ##     ##  ######     ##     ######


        section#contacts.section.contacts
          h2 联系我们
          .content
            .inner
              .map
                //
                  <h3><p>地址：北京朝阳区三环以内工体北路4号院77号楼2层<br />
                  邮编：100600</p>
                  </h3>
                p
                  p
                    | 地址：北京朝阳区三环以内工体北路4号院77号楼2层
                  br
                  |
邮编：100600
  p
    img(style='width:100%;' src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/微信截图_20200615113026.png' alt='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/微信截图_20200615113026.png')
      .details
        .detail
          h3 邮件
            p
              | vip[a]xvc.com
                br
                  | (请把[a]替换为@)
                  .submit
                    a.btn.solid(href='javascript:alert(\'请通过电子邮件将商业计划书发送至 vip[at]xvc.com.\');') 投递商业计划书
                .detail
                  h3 微信公众号
                  p xvcfund
                  img(src='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/wechat.png' alt='https://xvc-com.oss-accelerate.aliyuncs.com/2016/12/wechat.png')
          footer
            p
              | XVC 2017 |
              a(href='https://beian.miit.gov.cn/' target='_blank' rel='noopener noreferrer') 浙ICP备16034957号-2
        //  contacts ends
      //  body ends
    //  body wrapper ends
    script(src='//libs.baidu.com/jquery/1.11.1/jquery.min.js')
      script window.jQuery || document.write('<script src="https://www.xvc.com/wp-content/themes/XVC2016/assets/js/vendor/jquery-1.12.0.min.js"><\/script>')
    script(type='text/javascript').

      //set start section height
        $('#start').height($('#bg').height());
          // console.log($('#bg').height());

    script(src='https://www.xvc.com/wp-content/themes/XVC2016/assets/js/plugins.js')
      script(src='https://www.xvc.com/wp-content/themes/XVC2016/assets/js/main.js')
        script(src='https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js')
          link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css')
//  Dynamic page generated in 0.348 seconds.
//  Cached page generated by WP-Super-Cache on 2022-03-25 13:43:27
//  super cache
